
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Casino Roulette</title>
</head>
<body>
 <section>
    <h1>Roulette</h1>
    <div class="colors">
       <span>Color</span> <select name="colorList" id="colorList">
            <option value="">Red</option>
            <option value="">Black</option>
        </select>
    </div>
    <div class="bet">
       <span>$ Bet<input id="userBet" type="text"></span>
    </div>

    <button id="submit">Play</button>
 </section>

<!-- LOGIN FORM -->
<!-- <form action="/login" method="post">
  <div class="form-group">
      <label>Casino Email</label>
      <input type="text" class="form-control" name="email">
  </div>
  <div class="form-group">
      <label>Casino Password</label>
      <input type="password" class="form-control" name="password">
  </div>

  <button type="submit" class="btn btn-warning btn-lg">Login</button>
</form>

<hr> -->

<p>Casino <a href="/signup">Sign Up</a></p>
<p>or <a href="/login">Log In</a></p> </form>






<script src="main.js"></script>
</body>
</html>
